{
  "presets": [
    "env"
  ],
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "babel-plugin-rewire",
    "babel-plugin-transform-object-rest-spread"
  ],
  "retainLines": true,
  "comments": false
}