* {
  margin: 0;
  padding: 0; }

body {
  padding: 10px; }

.header-title {
  margin: 10px;
  font-size: 3em; }

.menu .menu-list {
  display: inline-block;
  width: 100px;
  margin: 10px; }
  .menu .menu-list a {
    text-decoration: underline; }
